@media screen and (max-width: 387px) {
	.membership-item {
		padding: 15px;
	}
	.membership-item h5 {
		font-size: 16px;
	}
	.membership-item .membership-price,
	.membership-item p,
	.membership-item h6 {
		font-size: 14px;
	}
	.membership-item .second-btn {
		width: 100%;
	}
	.proceed-btn,
	.contact-submit {
		display: block;
		width: 100%;
	}

	.category-hero-area h1 {
		font-size: 44px;
	}

	.login-with::before {
		content: "";
		width: 25%;
		height: 2px;
		position: absolute;
		top: 50%;
		left: 4%;
		background-color: var(--color-primary);
	}
	.login-with::after {
		content: "";
		width: 25%;
		height: 2px;
		position: absolute;
		top: 50%;
		right: 4%;
		background-color: var(--color-primary);
	}
}
@media screen and (max-width: 594px) {
	.tab-container {
		display: none;
	}
	.tab-container .nav-link.active {
		border: none;
	}

	#classes-tab .nav-link {
		padding: 6px 12px;
		font-size: 14px;
	}
}
@media screen and (min-width: 594px) {
	.main-tab-container .dropdown {
		display: none;
	}
}

@media screen and (max-width: 473px) {
	.trainer-img {
		display: none;
	}
}

@media screen and (max-width:390px) {
	.product-card .review-info{
		font-size: 12px;
    bottom: 5px;
    left: 5px;
	}
	.product-card .card-body{
		padding: 5px;
	}
	.product-card .card-body p,.card-body .text-14{
	font-size: 12px;
	}
	.product-card .card-body .main-price{
	font-size: 14px;
	}
	.product-card .card-body p.text-muted{
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2; /* number of lines to show */
				line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	.product-card .product-btn-group .add-cart-btn{
		font-size: 14px;
		border-radius: 50px;
	}
}