@media screen and (max-width: 387px) {
	.membership-item {
		padding: 15px;
	}
	.membership-item h5 {
		font-size: 16px;
	}
	.membership-item .membership-price,
	.membership-item p,
	.membership-item h6 {
		font-size: 14px;
	}
	.membership-item .second-btn {
		width: 100%;
	}
}
@media screen and (max-width: 594px) {
	.tab-container {
		display: none;
	}
	.tab-container .nav-link.active {
		border: none;
	}
}
@media screen and (min-width: 594px) {
	.main-tab-container .dropdown {
		display: none;
	}
}
